.homepage{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #a1c1ac;
}
.homepage-bottom{
    display: flex;
    align-items: center;
}
.homepage-bottom-left{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 40px;
    margin-top: -20px;
}
.homepage-bottom-left h1{
    font-size: 40px;
}
.homepage-bottom-left p{
    font-size: 18px;
    margin-top: -20px;
}
.homepage-bottom-left button{
    height: 30px;
    width: 90px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}
.homepage-bottom-left button:hover{
    background-color: rgb(245, 0, 0);
}
.homepage-bottom-right img{
    width: 900px;
    height: 500px;
    margin-top: 17px;
}