.homepageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.homepageHeader-left h1{
    color: #fff;
    cursor: pointer;
}
.homepageHeader-left span{
    color: black;
}
.homepageHeader-right i{
    margin: 0px 25px;
    font-size: 27px;
    cursor: pointer;
}
.homepageHeader-right i:hover{
    color: #fff;
}