.homepageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}
.homepageHeader-left a{
    text-decoration: none;
    color: #fff;
}
.homepageHeader-left span{
    color: black;
}
.homepageHeader-right a{
    text-decoration: none;
    color: black;
}
.homepageHeader-right i{
    margin: 0px 25px;
    font-size: 27px;
    cursor: pointer;
}
.homepageHeader-right i:hover{
    color: #fff;
}
.homepageHeader-right button{
    background-color: transparent;
    border: none;
}