.buyerDashboard{
    display: flex;
    background-color:#7bc294;
    height: 100vh;
}
.buyerDashboard-right{
    width: 1100px;
    height: 550px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    margin-left: 20px;
    border-radius: 10px;
}
.buyerDashboard-right-top{
    display: flex;
    justify-content: center;
}
.buyerDashboard-right-top-content a{
    text-decoration: none;
    color: black;
}
.buyerDashboard-right-top-content{
    position: relative;
    border: 2px solid #7bc294;
    border-radius: 5px;
    background-color: rgb(255, 251, 251);
    margin: 20px 40px;
    width: 120px;
    text-align: center;
}
.buyerDashboard-right-top-content i{
    margin-top: 10px;
    font-size: 22px;
}
.buyerDashboard-right-top-content h3{
    margin-top: -5px;
    font-size: 15px;
}
.buyerDashboard-right-bottom-table{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buyerDashboard-right-bottom-table-head{
    background-color: grey;
    border-radius: 5px;
}
.buyerDashboard-right-bottom-table-head th{
    padding: 5px 110px;
    font-size: 18px;
}
.buyerDashboard-right-bottom-table-body{
    background-color: blanchedalmond;
    border-radius: 5px;
    margin-top: 10px;
}
.buyerDashboard-right-bottom-table-body td{
    padding: 10px 90px;
}
.buyerDashboard-right-bottom-table-body button{
    background-color: red;
    color: #fff;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}